# Neon PostgreSQL Connection String
# Adicione a sua string do NeonDB abaixo quando quiser conectar o banco de dados definitivo:
# DATABASE_URL=postgres://user:password@ep-something.region.aws.neon.tech/neondb?sslmode=require
